html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Dancing Script', cursive;
}
body{
    text-align: center;
    color: #a7240de6;
}
.title{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: brown;
    padding-top: 40px;
}
.menu{
    margin: 20px 0px 20px 0px;
}
.menu a{
    padding: 0px 20px 0px 20px;
    color: #a7240de6;
}
h1{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.pizza_img{
    padding-top: 25px;
}
.pizza_img .list_none{
    list-style: none;
}
h2{
    padding-top: 20px;
    padding-bottom: 15px;
}
.explanation{
    color:#442828
}
.explanation a{
    color: #a7240de6;
}
ul li{
    list-style: inside;
}
.about{
    padding: 65px;
}

.font_color{
    color:#442828
}
.fontcolor{
    color: brown;
    font-size: 20px;
}